@model FacilityManagement.Models.Room

@{
    ViewData["Title"] = "Xóa Phòng";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 class="text-primary">Xóa Phòng</h1>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa phòng này?</h3>

<div>
    <h4 class="text-dark">Thông Tin Phòng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-primary fw-bold">
            Tên Phòng
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt class="col-sm-3 text-primary fw-bold">
            Loại Phòng
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RoomType)
        </dd>

        <dt class="col-sm-3 text-primary fw-bold">
            Sức Chứa
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt class="col-sm-3 text-primary fw-bold">
            Mô Tả
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-3 text-primary fw-bold">
            Toà Nhà
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="RoomId" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
    </form>
</div>
