@model FacilityManagement.Models.Equipment

@{
    ViewData["Title"] = "Chi Tiết Thiết Bị";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<style>
    body {
        background-color: white;
    }

    .text-primary {
        color: #052c93;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
        color: black;
    }

        .btn-warning:hover {
            background-color: #e0a800;
            border-color: #d39e00;
        }

    .btn-secondary {
        background-color: #ccc;
        border-color: #ccc;
        color: black;
    }

        .btn-secondary:hover {
            background-color: #b3b3b3;
        }
</style>

<h1 class="text-primary"><i class="fas fa-info-circle"></i> Chi Tiết Thiết Bị</h1>

<div>
    <h4><i class="fas fa-tools"></i> Thông Tin Thiết Bị</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <i class="fas fa-image"></i> @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" width="350px" height="350px" alt="Equipment Image" />
        </dd>

        <dt class="col-sm-2">
            <i class="fas fa-signature"></i> @Html.DisplayNameFor(model => model.EquipmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentName)
        </dd>

        <dt class="col-sm-2">
            <i class="fas fa-list-alt"></i> @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>

        <dt class="col-sm-2">
            <i class="fas fa-toggle-on"></i> @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            <i class="fas fa-file-alt"></i> @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            <i class="fas fa-door-open"></i> @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.EquipmentId" class="btn btn-warning"><i class="fas fa-edit"></i> Chỉnh Sửa</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Quay Lại Danh Sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}