@model FacilityManagement.Models.Maintenance

@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 class="text-primary">Chi Tiết Bảo Trì</h1>

<div>
    <h4 class="text-primary">Thông Tin Bảo Trì</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.EquipmentName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaintenanceId" class="btn btn-warning">Chỉnh Sửa</a> 
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
