@model IEnumerable<FacilityManagement.Models.Maintenance>

@{
    ViewData["Title"] = "Danh Sách Bảo Trì";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<style>
    body {
        background-color: white;
    }

    .text-primary {
        color: #052c93;
    }

    .btn-primary {
        background-color: #052c93;
        border-color: #052c93;
        color: white;
    }

        .btn-primary:hover {
            background-color: #041f6a;
            border-color: #041f6a;
        }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
        color: white;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
        color: black;
    }

    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
        color: white;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
    }

    .table th {
        background-color: #052c93;
        color: white;
        text-align: center;
    }

    .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<h1 class="text-primary"><i class="fas fa-wrench"></i> Danh Sách Bảo Trì</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Tạo Mới</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th><i class="fas fa-calendar-alt"></i> Ngày Bảo Trì</th>
            <th><i class="fas fa-file-alt"></i> Mô Tả</th>
            <th><i class="fas fa-toggle-on"></i> Trạng Thái</th>
            <th><i class="fas fa-tools"></i> Thiết Bị</th>
            <th class="text-center"><i class="fas fa-cogs"></i> Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaintenanceDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Description</td>
                <td>
                    @{
                        string statusClass = item.Status == "Hoàn thành" ? "badge bg-success" : "badge bg-danger";
                    }
                    <span class="@statusClass">@item.Status</span>
                </td>
                <td>@item.Equipment.EquipmentName</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.MaintenanceId" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Chỉnh Sửa Trạng thái</a>
                    <a asp-action="Details" asp-route-id="@item.MaintenanceId" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Chi Tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.MaintenanceId" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}