@model IEnumerable<FacilityManagement.Models.Maintenance>

@{
    ViewData["Title"] = "Danh Sách Bảo Trì";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 class="text-primary">Danh Sách Bảo Trì</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Tạo Mới</a>
</p>

<table class="table table-bordered">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaintenanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaintenanceId" class="btn btn-warning btn-sm">
                        Chỉnh Sửa Trạng thái
                    </a>

                    <a asp-action="Details" asp-route-id="@item.MaintenanceId" class="btn btn-info btn-sm">Chi Tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.MaintenanceId" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
