@model IEnumerable<FacilityManagement.Models.Maintenance>

@{
    ViewData["Title"] = "Danh Sách Bảo Trì";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 class="text-primary">Danh Sách Bảo Trì</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Tạo Mới</a>
</p>

<table class="table table-bordered">
    <thead class="bg-primary text-white">
        <tr>
            <th>Ngày Bảo Trì</th>
            <th>Mô Tả</th>
            <th>Trạng Thái</th>
            <th>Thiết Bị</th>
            <th class="text-center">Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaintenanceDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Description</td>
                <td>
                    @{
                        string statusClass = item.Status == "Hoàn thành" ? "badge bg-success" : "badge bg-danger";
                    }
                    <span class="@statusClass">@item.Status</span>
                </td>
                <td>@item.Equipment.EquipmentName</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.MaintenanceId" class="btn btn-warning btn-sm">
                        Chỉnh Sửa Trạng thái
                    </a>
                    <a asp-action="Details" asp-route-id="@item.MaintenanceId" class="btn btn-info btn-sm">Chi Tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.MaintenanceId" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
