@model FacilityManagement.Models.Usage

@{
    ViewData["Title"] = "Chi tiết sử dụng";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #052c93;
    }

    .dl-horizontal dt {
        color: #052c93;
    }

    a {
        color: #052c93;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<div class="container">
    <h1>Chi tiết sử dụng</h1>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsageDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsageDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsageId">Sửa</a> 
    <a asp-action="Index">Quay lại danh sách</a>
</div>