@model IEnumerable<FacilityManagement.Models.Usage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsageDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
