@model IEnumerable<FacilityManagement.Models.Staff>

@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 class="text-primary">Danh Sách Nhân Viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm Nhân Viên</a>
</p>

<table class="table table-bordered table-hover shadow-sm bg-white">
    <thead class="bg-primary text-white">
        <tr>
            <th>@Html.DisplayNameFor(model => model.StaffName)</th>
            <th>@Html.DisplayNameFor(model => model.Position)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.AssignedRoom)</th>
            <th class="text-center">Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StaffName)</td>
                <td>@Html.DisplayFor(modelItem => item.Position)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.AssignedRoom.RoomName)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.StaffId" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.StaffId" class="btn btn-sm btn-info">Chi Tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.StaffId" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
